<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ext-refundrequest">

	<resultMap id="BaseResultMap" type="com.ymatou.payment.infrastructure.db.model.RefundrequestPo">
		<id column="PaymentId" property="paymentid" jdbcType="VARCHAR" />
		<result column="TradeNo" property="tradeno" jdbcType="VARCHAR" />
		<result column="OrderId" property="orderid" jdbcType="VARCHAR" />
		<result column="TraceId" property="traceid" jdbcType="VARCHAR" />
		<result column="AppId" property="appid" jdbcType="VARCHAR" />
		<result column="PayType" property="paytype" jdbcType="VARCHAR" />
		<result column="RefundAmount" property="refundamount" jdbcType="DECIMAL" />
		<result column="CurrencyType" property="currencytype" jdbcType="VARCHAR" />
		<result column="ApproveStatus" property="approvestatus" jdbcType="INTEGER" />
		<result column="ApprovedTime" property="approvedtime" jdbcType="TIMESTAMP" />
		<result column="SoftDeleteFlag" property="softdeleteflag" jdbcType="BIT" />
		<result column="CreatedTime" property="createdtime" jdbcType="TIMESTAMP" />
		<result column="ApprovedUser" property="approveduser" jdbcType="VARCHAR" />
		<result column="RefundStatus" property="refundstatus" jdbcType="INTEGER" />
		<result column="RefundTime" property="refundtime" jdbcType="TIMESTAMP" />
		<result column="RefundBatchNo" property="refundbatchno" jdbcType="VARCHAR" />
		<result column="InstPaymentId" property="instpaymentid" jdbcType="VARCHAR" />
		<result column="TradeType" property="tradetype" jdbcType="INTEGER" />
	</resultMap>
	
	<sql id="Base_Column_List">
		PaymentId, TradeNo, OrderId, TraceId, AppId, PayType, RefundAmount,
		CurrencyType,
		ApproveStatus, ApprovedTime, SoftDeleteFlag, CreatedTime,
		ApprovedUser,
		RefundStatus,
		RefundTime, RefundBatchNo, InstPaymentId,
		TradeType
	</sql>
	
	<select id="selectRefundrequestByPage" resultMap="BaseResultMap"
		parameterType="java.util.HashMap">
		select top ${pageSize} <include refid="Base_Column_List" /> 
		from (
			select row_number() over(order by CreatedTime desc) as rownumber, <include refid="Base_Column_List"/>
			from RefundRequest 
			where SoftDeleteFlag = 0 
				and ApproveStatus = ${approveStatus} 
				<if test="orderId != null">
					and OrderId = #{orderId, jdbcType=VARCHAR}
				</if>
				and RefundStatus in ${refundStatus}
		) A
		where rownumber > ${pageSize} * (${pageIndex} - 1)
	</select>
</mapper>