<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ext-refundrequest">

	<resultMap id="BaseResultMap" type="com.ymatou.payment.infrastructure.db.model.RefundRequestPo" >
	    <id column="PaymentId" property="paymentId" jdbcType="VARCHAR" />
	    <result column="TradeNo" property="tradeNo" jdbcType="VARCHAR" />
	    <result column="OrderId" property="orderId" jdbcType="VARCHAR" />
	    <result column="TraceId" property="traceId" jdbcType="VARCHAR" />
	    <result column="AppId" property="appId" jdbcType="VARCHAR" />
	    <result column="PayType" property="payType" jdbcType="VARCHAR" />
	    <result column="RefundAmount" property="refundAmount" jdbcType="DECIMAL" />
	    <result column="CurrencyType" property="currencyType" jdbcType="VARCHAR" />
	    <result column="ApproveStatus" property="approveStatus" jdbcType="INTEGER" />
	    <result column="ApprovedTime" property="approvedTime" jdbcType="TIMESTAMP" />
	    <result column="SoftDeleteFlag" property="softDeleteFlag" jdbcType="BIT" />
	    <result column="CreatedTime" property="createdTime" jdbcType="TIMESTAMP" />
	    <result column="ApprovedUser" property="approvedUser" jdbcType="VARCHAR" />
	    <result column="RefundStatus" property="refundStatus" jdbcType="INTEGER" />
	    <result column="RefundTime" property="refundTime" jdbcType="TIMESTAMP" />
	    <result column="RefundBatchNo" property="refundBatchNo" jdbcType="VARCHAR" />
	    <result column="InstPaymentId" property="instPaymentId" jdbcType="VARCHAR" />
	    <result column="TradeType" property="tradeType" jdbcType="INTEGER" />
	</resultMap>

	<parameterMap type="java.util.Map" id="genRefundBatchNoSeqMap">
		<parameter property="sequenceType" mode="IN" jdbcType="VARCHAR" />
		<parameter property="seed" mode="OUT" jdbcType="INTEGER" />
	</parameterMap>
	
	<sql id="Base_Column_List" >
	    PaymentId, TradeNo, OrderId, TraceId, AppId, PayType, RefundAmount, CurrencyType, 
	    ApproveStatus, ApprovedTime, SoftDeleteFlag, CreatedTime, ApprovedUser, RefundStatus, 
	    RefundTime, RefundBatchNo, InstPaymentId, TradeType
	</sql>
	
	<select id="selectRefundrequestByPage" resultMap="BaseResultMap"
		parameterType="java.util.HashMap">
		select top ${pageSize} <include refid="Base_Column_List" /> 
		from (
			select row_number() over(order by CreatedTime desc) as rownumber, <include refid="Base_Column_List"/>
			from RefundRequest 
			where ApproveStatus = ${approveStatus} 
				<if test="orderId != null">
					and OrderId = #{orderId, jdbcType=VARCHAR}
				</if>
				and RefundStatus in ${refundStatus}
		) A
		where rownumber > ${pageSize} * (${pageIndex} - 1)
	</select>
	
	<select id="queryRefundByRefundNo" resultMap="BaseResultMap"
		parameterType="java.util.List">
		select <include refid="Base_Column_List" /> 
		from  RefundRequest where TraceId in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
          #{item, jdbcType=VARCHAR}
        </foreach>
        order by refundId 
	</select>
	
	<select id="genRefundBatchNoSeq" statementType="CALLABLE" parameterMap="genRefundBatchNoSeqMap">
		<![CDATA[
          CALL csp_GenerateSeed(?,?)
		]]> 
    </select>
</mapper>